.container-windows{
  // position:relative;
  // border: 1px solid #000;
  background-image: url("./components/images/fondo2.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 912px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}